h2 {
  text-align: end;
  margin-left: 120px;
   margin-right: 20px;
}

#time-container{
  width: fit-content;
  margin: 6px auto 0px auto;
  border: solid .15em var(--primary-color);
  outline: solid .1em var(--primary-color);
  outline-offset: 2px;
  padding: 3px 10px;
  border-radius: var(--border-radius);
  text-align: center;
}

header {
  width: 100%;
  position: relative;
}
/* bg */
.background-image {
  display: block;
  width: 100%;
  height: 100px;
  background-image: url(/imgs/user-bg-unsplash.avif);
  background-size: cover;
  background-position: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
/*  */

.profile-pic-container {
  position: absolute;
  z-index: 30;
  top: 50px;
  left: 30px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: solid 4px var(--secondary-color);
  object-fit:contain;
  overflow: hidden;

}

.profile-pic-container img{
  width: inherit;
  position: relative;
  bottom: 17px;
  /* height: inherit; */
}

@media screen and (min-width: 500px) {
  h2 {
    text-align: center;
    margin:0px;
  }
}
/* Styles for tablets (768px and up) */
@media screen and (min-width: 768px) {
  header {
    min-width: 200px;
    max-width: 500px;
    flex: 1;
  }
  .profile-pic-container {
    scale: 175%;
    top: 160px;
    left: calc(50% - 80px * 2.25 / 4);
  }
  .background-image {
    height: 220px;
  }

  h2 {
    text-align: center;
    margin: auto;
    margin-top: 45px;
    font-size: 6;
  }

  #time-container{
    margin-top: 8%;
  }
}

@media screen and (min-width: 1024px) {
  .profile-pic-container {
    scale: 225%;
  }
  header {
    min-width: 300px;
  }
  h2 {
    font-size: 28px;
    margin-top: 70px;
  }
}
